<!DOCTYPE mapper PUBLIC     
    "-//mybatis.org//DTD Mapper 3.0//EN"    
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
   
<mapper namespace="ibike.alarm">
   <!-- 根据工单id查找相应的数据-->
   <select id="getAlarm" resultType="com.weixin.po.AlarmPo" parameterType="String">
	    SELECT DATE_FORMAT(
			w.createTime,
			'%Y-%m-%d %H:%i:%s'
		) AS alarmTime,
		opsworkorderId,
		opsworkorderType,
		opsworkorderStatus,
		chargestationAddr,
		chargedeviceNo,
		opsworkorderDesc,
		chargeplugNo,
		chargestationNo,
		chargestationName,
		substr(
			chargeplugNo
			FROM
				LENGTH(chargeplugNo) - 1 FOR 2
		) AS czh
		FROM ebike.ops_workorder w
		WHERE w.opsworkorderId = #{value}
   </select>
   
   <!-- 根据工单id查找历史记录  已归档-->
   <select id="getHisAlarm" resultType="com.weixin.po.AlarmPo" parameterType="String">
	   SELECT
		DATE_FORMAT(
			w.createTime,
			'%Y-%m-%d %H:%i:%s'
		) AS alarmTime,
		opsworkorderId,
		opsworkorderType,
		opsworkorderStatus,
		chargestationAddr,
		chargedeviceNo,
		opsworkorderDesc,
		chargeplugNo,
		chargestationNo,
		chargestationName,
		substr(
			chargeplugNo
			FROM
				LENGTH(chargeplugNo) - 1 FOR 2
		) AS czh,
		archiver,
		DATE_FORMAT(
			w.archiveTime,
			'%Y-%m-%d %H:%i:%s'
		) AS archiveTime,
		archiveDesc
		FROM ebike.ops_workorder_his w
		WHERE w.opsworkorderId = #{value}
   </select>  
   <!-- 查找此运营商的未处理告警基本信息-->
   <select id="getWclGjList" resultType="com.weixin.po.AlarmPo" parameterType="String">
	    SELECT DATE_FORMAT(w.createTime, '%Y-%m-%d %H:%i:%s') as alarmTime,
	    opsworkorderId,opsworkorderType,chargestationAddr
		FROM ebike.ops_workorder w
		where w.opsworkorderStatus = '20'
		and w.handler = #{value}
		order by w.createTime desc
   </select> 
   
   <!-- 查找此运营商的已处理工单(当前工单节点不为运营商的节点)基本信息-->
   <select id="getYclGjList" resultType="com.weixin.po.AlarmPo" parameterType="String">
	   SELECT DATE_FORMAT(w.createTime, '%Y-%m-%d %H:%i:%s') as alarmTime,
	    opsworkorderId,opsworkorderType,chargestationAddr
		FROM ebike.ops_workorder w
		where w.opsworkorderStatus = '30'
		and w.handler = #{value}
		order by w.createTime desc
   </select>
   
   <!-- 查找此运营商关联的已归档工单基本信息-->
   <select id="getYgdGjList" resultType="com.weixin.po.AlarmPo" parameterType="String">
	   SELECT DATE_FORMAT(w.createTime, '%Y-%m-%d %H:%i:%s') as alarmTime,
	    opsworkorderId,opsworkorderType,chargestationAddr
		FROM ebike.ops_workorder_his w
		where w.handler = #{value}
		order by w.createTime desc
   </select>
   
   <update id="updateById" parameterType="com.weixin.po.AlarmPo">
        update ebike.ops_workorder set opsworkorderStatus = #{opsworkorderStatus},
        handleTime = now()
        where opsworkorderId = #{opsworkorderId}
   </update>
</mapper>